

//COLORS
$color-white: hsl(0, 0%, 100%);
$color-orange: hsl(17, 100%, 55%);
$color-hot-cinnamon: hsl(17, 82%, 49%);
$color-orange-roughy: hsl(17, 79%, 44%);
$color-turquoise: hsl(179, 65%, 51%);
$color-smalt-blue: hsl(179, 30%, 45%);
$color-candlelight: hsl(49, 100%, 55%);
$color-alto: hsl(0, 0%, 82%);
$color-dove-gray: hsl(0, 0%, 40%);

$ff-sweden-regular: 'Sweden Sans Regular', sans-serif;
$ff-sweden-bold: 'Sweden Sans Bold', sans-serif;
$ff-clear-regular: 'Clear Sans Regular', sans-serif;
$ff-clear-bold: 'Clear Sans Bold', sans-serif;
