extends ../_layout--detail
block content
  article.article
    div.img--is-in-background
      img(class="img--is-in-background__img" src="/assets/images/typo-480.jpg"
          srcset="/assets/images/typo-480.jpg 480w, /assets/images/typo-720.jpg 720w, /assets/images/typo-1440.jpg 1440w, /assets/images/typo-1920.jpg 1920w")
      div.img--is-in-background__content
        h1 TYPO Berlin 2015
        span.heading-sub My top five moments
    header.article__header
      img(class="img--is-rounded" src="/assets/images/emanuela.jpg")
      p.meta
        a(class="link--has-no-underline" href="" rel="author") Emanuela
        |  wrote this 
        time(datetime="2015-08-28") one day ago
      a(class="link-icon icon-twitter" href="https://twitter.com/brassy")
      //-a(class="link-icon icon-facebook" href="/")
    hr
    p.
      If you are a designer, you certainly know <em>Typo Berlin</em>. 57
      lectures, 11 workshops, 1650 participants, 42 nations, spread across 3
      days. And this year was is 20 birthday. Pretty impressive, isn’t it?
    p.
      As you can imagine, it is impossible to see all of the talks in such a short time.
      But from those I saw at the conference, here are my Top 5 moments of Typo Berlin 2015.

    h3 The 7 Aphorisms from Tina Roth Eisenberg
    p.
      Tina is a New York based, Swiss born and raised graphic designer.
      She presented these 7 aphorisms for work and home:
    ol
      li Don’t complain, make it better
      li Push to be better
      li Start from the heart
      li Yes mean yes
      li Flip it
      li Shine the light
      li Keep it light

    h3 Sofie Beier’s research about positive emotions
    p.
      I may be stupid, but I never thought about that. There are, out here,
      some researchers on the topic of graphic designer. And when you have the
      opportunity to listen to them, you may discover something incredible,
      like Sophie Beier did:
      If your design stimulates positive emotion then your user will be take
      the safe choice and might not want to change to your product.
    p.
      Seriously, life changing. As a worker in a startup enviroment I’m always
      in situations where I put to user in front of some tough decision:
      Don’t trust the past, believe in future. What if my perfect and super
      polished design, instead of nudging the user to use my product, puts them in an
      unsafe position? Think about that, and
      <a href="http://www.dcdr.dk/uk/menu/update/webzine/articles/type-and-legibility">read more</a>.
      
    h3 You can buld joy with everything
    p.
      George Zisiadis is an interactive artist and designer who wants to make
      you smile. He can make even <a href="http://www.georgezisiadis.com/#/bench-go-round/">benches funny</a>.
      He wants to <a href="http://www.georgezisiadis.com/#/pulse-of-the-city/">listen your heart</a>, or
      some <a href="http://www.georgezisiadis.com/#/the-listening-tree/">music on a tree</a>.
      He was completly positive and humble all the time
      on the stage, it was impossible not to smile. And the most important things:
      if your goal is make the people happier, you can do whatever you want.
        Even kiss a stranger under a chrismas­drone.
    h3 The stage ‘Stage’ is free
    p.
      So, TypoBerlin is not cheap, for sure. But there is a well-keept secret
      that I want to share with you. There is a free stage, and it is so good.
      There were mostly young people, several berliners, talking on a little
      stage, but the quality was remarkable.
      There was Harry Keller, talking about dygital myths and the evolution of
      the rule of the agency.
      Nina Stössinger, with her brand new “reversed contrast” typeface, Marlene
      Schufferth and the different workflow between an agency and a startup
      and, of course, Jamie Neely from Typecast. All of these fantastic topics
      for free. Isn’t it great?
    So, TypoBerlin is not cheap. For sure. But there is a well­keept secret that I want to share
    h3 Music & Design
    p.
      When I was a teenager I used to have a blog with indie music reviews. It
      was great and gave to me the oppurtinity to have a really good time.
      This is the reason why the story of Josh Higgins was so impressive for
      me.  Josh was a touring musician on MCA/Universal Records, before he
      became the Design Director for the Obama’s re-election campaign. His
      current positition is manager for the Communication Design team at
      Facebook, a multidisciplinary team of art directors, designers, writers,
      film makers, and engineers whose mission is brand development and
      communication for Facebook.
    p.
      You can find several talks recording by the organitation on their website.
