extends ../_layout--detail
block content
  article.article
    div.img--is-in-background
      img(class="img--is-in-background__img" src="/assets/images/welcome.jpg")
      div.img--is-in-background__content
        h1 Welcome to the Tech Team
        //-span.heading-sub My top five moments
    header.article__header
      img(class="img--is-rounded" src="/assets/images/jan.jpg")
      p.meta
        a(class="link--has-no-underline" href="" rel="author") Jan
        |  wrote this 
        time(datetime="2015-11-28") one day ago
      a(class="link-icon icon-twitter" href="https://twitter.com/agento")
    hr
    blockquote(cite="" class="blockquote")
      p(class="blockquote__p") Hello World!
    p.
      These are usually the first two words you see on the screen when you
      try out a new programming language. Printing this short string is the
      traditional first exercise in every language manual because seeing this
      result quickly after your first steps can be very exciting.
    p.
      Taking first steps as a venture in the HitFox portfolio is even better.
      Where a programmer goes to Stack Overflow, Youtube and thousands of
      blogs to get started with a new language, our ventures turn to the
      TechDev team to get to their MVP fast.
    p.
      We are here to assist in multiple ways

    h3 Interim technical Management
    p.
      Every venture starts with a brilliant business idea.  But to take the
      business to market, you need to turn the idea into software. While you
      are still looking for a technical cofounder and CTO, the TechDev team
      can act as an interim CTO and help you develop a tech strategy to get
      you off the ground.

    h3 Technical consulting and implementation
    p.
      Developers are in high demand and hiring good talent to build such a
      team takes time. We are an integrated team with members who work
      together effectively. With years of experience in different fields of
      technology, we can help you make the right decisions, and get started
      before you have assembled a team of your own.

    h3 Product Management
    p.
      Based on your domain knowledge we help you find answers to the most
      important questions: Who are your users, what problem are your trying
      to solve for them? With these answers as a foundation we support you to
      shape a clear vision for your product and definine a realization
      strategy by setting achievable goals.

    h3 Design
    p.
      Our designers work closely together with your business team, product
      management and developers to ensure we deliver great results that can
      be quickly implemented and meet your high expectations. We collaborate
      closely with you in design workshops to achieve great results in line
      with your product vision.

