footer.global-footer
  .global-footer__inner
    .accordion
      input(type="checkbox" id="check-1" class="accordion__input")
      label(for="check-1" class="accordion__label") Worked with
      ul.accordion__content
        li
          a(href="https://www.clark.de/") Clark
        li
          a(href="http://www.finreach.de/") Finreach
        li
          a(href="https://www.valendo.de/") Valendo
        li
          a(href="http://www.ita-online.info/") ITA
    .accordion
      input(type="checkbox" id="check-4" class="accordion__input")
      label(for="check-4" class="accordion__label") Contact us
      ul.accordion__content
        li
          a(href="https://twitter.com/hitfoxtechdev") Twitter
        li
          a(href="https://www.facebook.com/HitFoxGroup/") Facebook
        //-li
          //-a(href="/") Mail
    span.byline © 2015 HitFox GmbH
