footer.global-footer
  .global-footer__inner
    .accordion
      input(type="checkbox" id="check-1" class="accordion__input")
      label(for="check-1" class="accordion__label") Worked with
      ul.accordion__content
        li
          a(href="/") Clark
        li
          a(href="/") Optisure
        li
          a(href="/") Finreach
        li
          a(href="/") Collecto
        li
          a(href="/") ITA
    .accordion
      input(type="checkbox" id="check-2" class="accordion__input")
      label(for="check-2" class="accordion__label") People
      ul.accordion__content
        li
          a(href="/") Peter
        li
          a(href="/") Jan
        li
          a(href="/") Dominic
        li
          a(href="/") Emanuela
        li
          a(href="/") Kevin
        li
          a(href="/") +29 more
    .accordion
      input(type="checkbox" id="check-3" class="accordion__input")
      label(for="check-3" class="accordion__label") Passionate about
      ul.accordion__content
        li
          a(href="/") Tech. Consulting
        li
          a(href="/") Tech. Implementation
        li
          a(href="/") Interims Management
        li
          a(href="/") Product Design
        li
          a(href="/") Product Management
    .accordion
      input(type="checkbox" id="check-4" class="accordion__input")
      label(for="check-4" class="accordion__label") Contact us
      ul.accordion__content
        li
          a(href="/") Twitter
        li
          a(href="/") Facebook
        li
          a(href="/") Mail
        li
          a(href="/") IRC
    span.byline © 2015 HitFox GmbH
