header.global-header.global-header--detail
  a(href="/" class="anchor--wo-underline anchor-home")
    img(src="assets/svg/hft-logo.svg" class="image-home")
  nav.menu-filter
    ul.menu-filter__list
      li.menu-filter__el
        a.menu-filter__a.anchor--wo-underline.anchor--w-icon
          | all posts & projects
