.footer
  .footer__columns
    .footer-column
      .footer-column__head Worked with
      .footer-column__links
        Clark
        Optisure
        Finreach
        Collecto
        ITA
    .footer-column
      .footer-column__head People
      .footer-column__links
        Peter
        Jan
        Dominic
        Emanuela
        Kevin
        +29 more
    .footer-column
      .footer-column__head Passionate about
      .footer-column__links
        Tech. Consulting
        Tech. Implementation
        Interims Management
        Product Design
        Product Managementc
    .footer-column
      .footer-column__head Contact us
      .footer-column__links
        Twitter
        Facebook
        Mail
        IRC
  .footer__copyright

