extends _layout
block content
  article
    h1 TYPO Berlin 2015
    p If you are a designer, you certainly know TypoBerlin. 57 lectures, 11 workshops, 1650 participants, 42 nations, spread across 3 days. And this year was its 20 birthday. Pretty impressive, isn’t it? As you can imagine, it’s impossible to see all this talks in such a short time. But, here my top 5 moment from the conference.
    h2 The Sofie Beier’s research (and the positive emotions)
    p I may be stupid, but I never thought about that. There are, outhere, some graphic designer-researcher. And when you have the opportunity to listen to this people, you may discover something incredible, like: if your design stimulates positive emotion then your user will be take the safe choice and might not want to change to your product. Seriously, life chaning. As a worker in a startup enviroment I’m always in the situation where I put to user in front of some brave decision: don’t trust the past, believe in future. 
    h3 You can buld the joy with 
