extends _layout
block content
  section.article
    ul.list--is-wo-bullets
      li.list--is-wo-bullets__el
        header.list__header
          h2
            a(href="blogposts/typo_berlin")
              | TYPO Berlin 2015
          time(datetime="2015-06-03 12:24" class="list__time")
            | 2015/06/03
        p
          | If you are a designer, you certainly know TypoBerlin. 57 lectures, 11 workshops, 1650 participants, 42 nations, spread across 3 days. And this year was its 20 birthday…
          a(class="list__a" href="/blogposts/typo_berlin") read more
