extends _layout
block content
  section.article
    ul.list--is-wo-bullets
      li.list--is-wo-bullets__el
        header.list__header
          h2
            a(href="blogposts/nlp_first_steps").
              First steps with natural language processing
          time(datetime="2015-12-02 12:24" class="list__time")
            | 2015/12/02
        p
          | … 
          a(class="list__a" href="/blogposts/nlp_first_steps") read more
  
      li.list--is-wo-bullets__el
        header.list__header
          h2
            a(href="blogposts/data_science_process").
              The Data Science Process
          time(datetime="2015-12-02 12:24" class="list__time")
            | 2015/12/02
        p
          | … 
          a(class="list__a" href="/blogposts/data_science_process") read more
    
      li.list--is-wo-bullets__el
        header.list__header
          h2
            a(href="blogposts/welcome")
              | Welcome to the Tech Team
          time(datetime="2015-11-28 12:24" class="list__time")
            | 2015/11/28
        p
          | "Hello World" – Where a programmer goes to Stack Overflow, Youtube
          | and thousands of blogs to get started with a new language, our
          | ventures turn to the TechDev team to get to their MVP fast… 
          a(class="list__a" href="/blogposts/welcome") read more

      li.list--is-wo-bullets__el
        header.list__header
          h2
            a(href="blogposts/typo_berlin")
              | TYPO Berlin 2015
          time(datetime="2015-06-03 12:24" class="list__time")
            | 2015/06/03
        p
          | If you are a designer, you certainly know TypoBerlin. 57 lectures, 11 workshops, 1650 participants, 42 nations, spread across 3 days. And this year was its 20 birthday…
          a(class="list__a" href="/blogposts/typo_berlin") read more
