


html {
  background-color: $project-base-background-color;
  color: $project-base-color;
  -webkit-font-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  overflow-x: hidden; //TEMP
  overflow-y: scroll;
}

//☟TEMP☟
article {
  margin: 0 auto;
  max-width: $content-column;
  width: 100%;
}

img { width: 100%; }

figure img {
  display: block;
  margin-bottom: .25 * $project-base-measure;

  @include mq(smallish) { margin-bottom: .5 * $project-base-measure; }

  @include mq(mediumish) { margin-bottom: $project-base-measure; }
}

.img--is-rounded {
  border-radius: 50%;
  width: 2.5 * $project-base-measure;
}

article > header {
  display: flex;
  align-items: center;
  padding: 1.75 * $project-base-measure 0;
}

article > header > p {
  margin-left: 20px;
  margin-bottom: 0;
  color: $color-silver;
}

article > header > p > a {
  color: $color-silver;
  background-image: none;
}

hr {
  width: 100vw;
  position: relative;
  left: calc((-100vw + 750px)/2);
  margin-bottom: 120px;
  background-color: $color-silver;
  border: 0;
  height: 1px;
}

.link-icon {
  width: 1.5 * $project-base-measure;
  height: 1.5 * $project-base-measure;
  background-image: none;
  background-size: cover;

}

.icon-twitter {
  background-image: url('/assets/svg/twitter.svg');
  background-position: 0 0;
  margin-left: auto;
}

.icon-facebook {
  background-image: url('/assets/svg/facebook.svg');
  background-position: 0 -3px;
}
