


html {
  background-color: $project-base-background-color;
  color: $project-base-color;
  -webkit-font-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  overflow-x: hidden; //TEMP
  overflow-y: scroll;
}

//☟TEMP☟
$content-column: 750px; //☜ PUT YOUR CONTENT WIDTH HERE
$content-column-50: $content-column / 2;

article {
  margin: 0 auto;
  max-width: $content-column;
  width: 100%;
}

img { width: 100%; }

.img--is-full-width {
  position: relative;
  width: 100vw;

//WHEN THE VIEWPORT EXCEEDS THE WIDTH OF THE CONTENT COLUMN THE IMAGE GETS MOVED TO THE LEFT BY HALF
//OF THE VIEWPORT + HALF OF THE CONTENT COLUMNS WIDTH
  @media screen and (min-width: $content-column) { left: calc(-50vw + #{$content-column-50}); }
}

.img--is-slightly-larger {

  @media screen and (min-width: $content-column) {
    left: calc((-100vw + #{$content-column})/2);
    position: relative;
  }

  @media screen and (min-width: $content-column + 1px) { width: 100vw; }

  @media screen and (min-width: $content-column * 1.2 + 1px) {
    left: -10%;
    width: 120%;
  }
}
