


html {
  background-color: $project-base-background-color;
  color: $project-base-color;
  -webkit-font-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-height: 100%;
  overflow-x: hidden; //TEMP
  overflow-y: scroll;
}

//☟TEMP☟
article {
  margin: 0 auto;
  max-width: $content-column;
  padding-left: $content-column-padding;
  padding-right: $content-column-padding;
  width: 100%;

  @media screen and (min-width: 796px) {
    padding-left: 0;
    padding-right: 0;
  }
}

img { width: 100%; }

figure img {
  display: block;
  margin-bottom: .25 * $project-base-measure;

  @include mq(smallish) { margin-bottom: .5 * $project-base-measure; }

  @include mq(mediumish) { margin-bottom: $project-base-measure; }
}

.img--is-rounded {
  border-radius: 50%;
  width: 2.5 * $project-base-measure;
}

article > header {
  align-items: center;
  display: flex;
  padding: 1.75 * $project-base-measure 0;
}

article > header > p {
  color: $color-silver;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 20px;
}

article > header  a {
  background-image: none;
  color: $color-silver;
}

.link-icon {
  background-size: contain;
  height: 1.5 * $project-base-measure;
  width: 1.5 * $project-base-measure;
}

.icon-twitter {
  background-image: url('/assets/svg/twitter.svg');
  background-position: 0 0;
  margin-left: auto;
}

.icon-facebook {
  background-image: url('/assets/svg/facebook.svg');
  background-position: 0 -3px;
}

.text-on-hr::before {
  background-color: $color-white;
  content: 'More to read...';
  font-family: $ff-headline;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: -.875rem;
  width: 10rem;

  @include mq(smallish) {
    top: -.9375rem;
    width: 11.25rem;
  }

  @include mq(mediumish) {
    top: -1.0625rem;
    width: 12.5rem;
  }
}
