

code[class*="language-"],
pre[class*="language-"] {
  border: 0;
  border-radius: 0;
  color: $color-orange;
  direction: ltr;
  hyphens: none;
  padding: 0;
  tab-size: 2;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

//Code blocks
pre[class*="language-"] {
  border: 1px solid $color-silver;
  border-radius: 2px;
  overflow: auto;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata { color: $color-silver; }

.token.punctuation { color: $color-black; }

.namespace { opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted { color: $color-black; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted { color: $color-black; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string { color: $color-black; }

.token.atrule,
.token.attr-value,
.token.keyword { color: $color-orange; }

.token.function { color: $color-dove-gray; }

.token.regex,
.token.important,
.token.variable { color: $color-orange; }

.token.important,
.token.bold { font-weight: bold; }

.token.italic { font-style: italic; }

.token.entity { cursor: help; }

$codeblock-padding: 1rem;
$codeblock-padding--smallish: 1.25rem;
$codeblock-padding--mediumish: 1.75rem;

pre.line-numbers {
  counter-reset: linenumber;
  padding-bottom: $codeblock-padding;
  padding-left: 2.7 * $project-base-measure;
  padding-top: $codeblock-padding;
  position: relative;

  @include mq(smallish) {
    padding-bottom: $codeblock-padding--smallish;
    padding-left: 3.3 * $project-base-measure;
    padding-top: $codeblock-padding--smallish;
  }

  @include mq(mediumish) {
    padding-bottom: $codeblock-padding--mediumish;
    padding-left: 4 * $project-base-measure;
    padding-top: $codeblock-padding--mediumish;
  }
}

pre.line-numbers > code {
  line-height: inherit;
  position: relative;
}

.line-numbers .line-numbers-rows {
  border-right: 1px solid #999;
  bottom: 0;
  font-size: 100%;
  height: calc(100% + 4.93824375rem);
  left: -3 * $project-base-measure;
  letter-spacing: -1px;
  line-height: 1.9;
  pointer-events: none;
  position: absolute;
  top: -1.3125rem;
  user-select: none;
  width: 3rem;

  @include mq(smallish) {
    left: -3.6 * $project-base-measure;
    line-height: 1.8;
    top: -1.5625rem;
    width: 3.4rem;
  }

  @include mq(mediumish) {
    left: -4.5 * $project-base-measure;
    line-height: 1.77;
    top: -2.125rem;
    width: 4rem;
  }
}

.line-numbers-rows > span {
  background-color: #FBFBFB;
  counter-increment: linenumber;
  display: block;
  pointer-events: none;
}

.line-numbers-rows > span:first-of-type { padding-top: $codeblock-padding;

  @include mq(smallish) { padding-top: $codeblock-padding--smallish; }

  @include mq(mediumish) { padding-top: $codeblock-padding--mediumish; }
}

.line-numbers-rows > span:last-of-type { padding-bottom: $codeblock-padding;

  @include mq(smallish) {  padding-bottom: $codeblock-padding--smallish; }

  @include mq(mediumish) { padding-bottom: $codeblock-padding--mediumish; }

}

.line-numbers-rows > span:before {
  color: #898989;
  content: counter(linenumber);
  display: block;
  padding-right: .8em;
  text-align: right;
}
