.tac { text-align: center !important; }

.tal { text-align: left !important; }

%cf::before,
%cf::after {
  content: '';
  display: table;
}

%cf:after { clear: both; }

.section--has-underline { border-bottom: 1px solid $color-silver; }

.sans-serif { font-family: Roboto Regular; }
