body { overflow-x: hidden; }

main,
footer,
.nav-main {
  margin: 0 auto;
  max-width: 76.5rem; //1224px
  position: relative;
}

.grid--padding { padding: 6 * $unit-base 3 * $unit-base;

  @include bp(x) { padding: 10 * $unit-base 5 * $unit-base; }

  @include bp(xx) {
    padding-bottom: 15 * $unit-base;
    padding-top: 15 * $unit-base;
  }
}

.section-pt-bottom { padding-bottom: 5 * $unit-base;

  @include bp(x) { padding-bottom: 10 * $unit-base; }

  @include bp(xx) { padding-bottom: 15 * $unit-base; }
}

.grid--full { position: relative; }

footer {
  background-color: $color-horizon;
  border-top: 1px solid $color-white;
  color: $color-white;
  flex-wrap: wrap;
  padding-top: 4 * $unit-base;
  text-align: center;

  @include bp(xx) { padding-top: 8 * $unit-base; }
}

.footer__a { color: $color-white; }

.footer-bottom {
  background-color: $color-mine-shaft;
  border-top: 1px solid $color-white;
  font-size: $fz-12;
  line-height: $lh-12;
  padding-bottom: 2 * $unit-base;
  padding-top: 2 * $unit-base;
  width: 100%;

  p { margin-bottom: 0; }
}

footer .partial { padding-left: 0; }

.remove-pt { padding-top: 0; }

.flex {

  @include bp(xx) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
  }
}

.has-underline { border-bottom: 1px solid $color-silver; }
