
// MARKUP
// div.img--is-in-background
//   img.img--is-in-background__img OPTIONAL TO USE IT WITH AN ACTUAL IMAGE
//   div.img--is-in-background__content

$bgi-ratio-width: 3;
$bgi-ratio-height: 2;

.img--is-in-background {
  // background-image: url('/assets/images/sea-1920.jpg');
  background-size: cover;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-top: ($bgi-ratio-height / $bgi-ratio-width) * 100%;
    width: 100%;
  }
}

// Use this class on the containing image to use the background image module with an actual image
// (without) referencing an image via CSS
.img--is-in-background__img {
  position: absolute;
  top: 0;
}

.img--is-in-background__content {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  > * {
    color: $color-white;
    text-align: center;
    width: 90%;
  }
}
