

$oversize-value: 120%;

.img--is-oversized {

  @media screen and (min-width: $content-column) {
    left: calc((-100vw + #{$content-column})/2);
    position: relative;
  }

  @media screen and (min-width: $content-column + 1px) { width: 100vw; }

  @media screen and (min-width: $content-column * 1.2 + 1px) {
    left: calc((-#{$oversize-value} + 100%)/2);
    width: $oversize-value;
  }
}
