

// Sass Maps to define font-sizes and line-heights across breakpoints,
// These maps are usable with the `font-size` Mixin.
$paragraph-typo: (
  null: (1em, 1.2),
  small: (1.25em, 1.5),
  medium: (1.375em, 1.42)
);

$heading1-typo: (
  null: 2em,
  small: 3em,
  medium: 4em
);

$heading2-typo: (
  null: 2em,
  small: 3em,
  medium: 4em
);

$heading3-typo: (
  null: 2em,
  small: 3em,
  medium: 4em
);

$heading4-typo: (
  null: 2em,
  small: 3em,
  medium: 4em
);
