

$color-white: #fff;
$color-orange: #ff5c1a;
$color-dove-gray: #616161;
$color-dusty-gray: #969696;
$color-silver: #bbb;
$color-turquoise: #3dd3d0;
$color-bright-sun: #fed338;
$color-royal-blue: #4574db;
$color-shark: #262a2c;
$color-polar: #eafafa;
