

h2 > a {
  background-image: none !important;
  line-height: inherit !important;
}

.list__time { color: $color-silver;

  @include mq(smallish) { font-size: .9em; }
}

.list__a {
  background-image: none;
  color: $color-silver;
  font-weight: 400;

  &:hover {
    background-image: inherit;
    opacity: .7;
  }
}

.list--is-wo-bullets__el h2 {
  @include mq(mediumish) { width: 75%; }
}

.list__header {
  @include mq(mediumish) {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.global-header {
  padding-top: 1.5 * $project-base-measure;
  margin-bottom: 2 * $project-base-measure;
  border-bottom: 1px solid $color-silver;
  clear: both;
  overflow: hidden;

  @include mq(smallish) {
    padding-left: 23px;
    padding-right: 23px;
    border-bottom: 0;
    margin-bottom: 4 * $project-base-measure;
    padding-top: 2 * $project-base-measure;
  }
}

.anchor-home {
  width: 180px;
  margin: 0 auto $project-base-measure auto;
  display: block;

  @include mq(smallish) {
    float: left;
    margin-bottom: .45rem;
  }
}

.image-home { display: block; }

.menu-filter {
  @include mq(smallish) {
    float: right;
    margin-top: 4px;
  }

  @include mq(mediumish) { margin-top: 0; }
 }

.menu-filter__list {
  padding-left: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.menu-filter__el {
  margin-left: 1rem;
  &::before { content: none; }

  &:first-child { margin-left: 0; }
}

.menu-filter__a {
  padding-bottom: 1rem;
  border-bottom: 2px solid transparent;
  color: $color-silver;
  font-weight: 400;
  cursor: pointer;
}

.menu-filter__a--is-active,
.menu-filter__a:hover {
  border-bottom: 2px solid $color-orange;
  color: $color-black;
}


.global-header--detail {
  position: fixed;
  width: 100%;
  z-index: 1;
  border-bottom: 0;
}

.global-header--detail .menu-filter__a {
  color: $color-white;

  &:hover {
    border-bottom: 0;
    opacity: .8;
  }
}

.global-header--detail .menu-filter__icon {
  fill: $color-white;
  width: 32px;
  margin-bottom: -11px;
  margin-left: 10px;
  display: inline-block;

  @include mq(mediumish) {
    margin-bottom: -13px;
    width: 40px;
  }
}

.icon-home path {
  fill: $color-white;
}

.icon-home path:last-of-type{
  fill: $color-black;
}

.global-header--detail.is-scrolled .menu-filter__a {
  color: $color-black;
}
