body {
  background-color: $color-white;
  color: $color-dove-gray;
  font-family: Roboto Light, Helvetica, sans-serif;
  font-size: 1.125em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  line-height: 1.555555556;
}

.sans-serif { font-family: Roboto Light, Helvetica, sans-serif; }

.fw-400 { font-weight: 400; }

p {
  font-size: .888888889em;
  line-height: 1.555555556;
  margin-bottom: 3 * $unit-base;

  @include bp(x) {
    font-size: 1em;
    margin-bottom: 5 * $unit-base;
  }

  @include bp(xx) { margin-bottom: 4 * $unit-base; }
}

.p--is-larger {

  @include bp(xx) {
    font-size: $fz-24;
    line-height: $lh-24;
  }
}

a {
  color: $color-orient;
  font-size: .888888889em;
  line-height: 1.555555556;
  text-decoration: none;

  @include bp(x) { font-size: 1em; }

  &:hover { border-bottom: 1px solid $color-orient; }
}

.nav-main__toggle:hover { border-bottom: 1px solid $color-white; }

footer a:hover { border-bottom: 1px solid $color-white; }

ul,
ol {
  font-size: .888888889em;
  line-height: 1.555555556;

  @include bp(x) { font-size: 1em; }
}

h1,
h2,
h3,
h4 {
  font-family: Playfair Regular;
  font-style: normal;
  font-weight: 700;
}

h1,
.fz-alpha {
  font-size: $fz-24;
  line-height: $lh-24;
  margin-bottom: 4 * $unit-base;

  @include bp(x) {
    font-size: $fz-36;
    line-height: $lh-48;
    margin-bottom: 4 * $unit-base;
  }

  @include bp(xx) { margin-bottom: 8 * $unit-base; }
}

h2,
.fz-beta { font-size: 1em;

  @include bp(x) {
    font-size: $fz-24;
    line-height: $lh-24;
  }
}
