$color-dove-gray: #676767;
$color-orient: #005e8a;
$color-horizon: #6190a6;
$color-mine-shaft: #333333;
$color-gray: #888888;
$color-silver: #c9c9c9;
$color-white: #ffffff;
$color-alabaster: #f7f7f7;
$color-alert: #e8434c;

$unit-base: .375rem; //6px
$gutter: 3 * $unit-base;

$fz-base: 1.125em; //18px
$lh-base: 1.555555556;

$fz-12: .666666667em;
$lh-12: 1.833333333;

$fz-14: .777777778em;
$lh-14: 1.714285714;

$fz-16: .888888889em;
$lh-16: 1.75;

$fz-24: 1.333333333em;
$lh-24: 1.333333333;

$fz-36: 2em;

$fz-48: 2.666666667em;
$lh-48: 1.25;

$fz-84: 4em;
$lh-84: 1.194444444;

$push: true;
$pull: true;
