

@font-face {
  font-family: Sailec;
  src: 'assets/fonts/sailec-bold.woff';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Lato;
  src: 'assets/fonts/lato-regular.woff';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: LatoBold;
  src: 'assets/fonts/lato-bold.woff';
  font-style: normal;
  font-weight: 700;
}
