.founder-signup {
  background-color: $color-orient;
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, .3);
  color: $color-white;
  display: none;
  height: auto;
  left: 0;
  margin: 0 auto;
  max-width: 500px;
  position: fixed;
  right: 0;
  text-align: center;
  top: 6vh;
  width: 90%;
  z-index: 9999;

  @include bp(xxx) { top: 12vh; }
}

.founder-signup__p { margin-bottom: 1rem; }

.founder-signup__headline {
  margin-bottom: 1.25rem;

  @include bp(x) { margin-bottom: 1.5rem; }
}

.founder-signup__first {
  display: none;
  margin: 1.5rem;

  @include bp(x) { margin: 2rem; }
}

.founder-signup__second { @extend .founder-signup__first; }

.founder-signup__no-linkedin { @extend .founder-signup__first; }

.founder-signup_formfield {
  border-radius: 0;
  color: $color-mine-shaft;
  display: block;
  margin: 0 auto .6rem;
  width: 100%;

  @include bp(x) { width: 90%; }
}

.founder-signup .btn {
  background: transparent;
  color: $color-white;

  @include bp(x) {
    &:hover {
      background: $color-white;
      color: $color-orient;
    }
  }

  &:active {
    background: $color-white;
    color: $color-orient;
  }
}

.founder-signup__mailto {
  background: transparent;
  color: $color-white;
  display: inline-block;
  margin-bottom: .6rem;
  text-decoration: none;
  width: 100%;

  @include bp(x) { width: auto; }

  &:hover {
    color: $color-orient;
    text-decoration: none;
  }
}

.founder-signup--close {
  background: url('/assets/svg/icon-cross-white.svg') no-repeat 0 -40px;
  background-size: 100%;
  cursor: pointer;
  float: right;
  height: 20px;
  position: relative;
  width: 20px;

  @include bp(xx) {
    background-position: 0 -30px;
    height: 15px;
    width: 15px;
  }
}

.founder-signup__error {
  display: none;
  position: relative;
}

.linkedin-error { @extend .founder-signup__error; }

.founder-signup__error_p {
  background-color: $color-alert;
  border: 1px solid $color-white;
  color: $color-white;
  display: inline-block;
  font-size: .8em;
  font-weight: 800;
  margin-bottom: .5rem;
  padding: 0 .4rem;
}

.linkedin {
  background: url('/images/LinkedIn-Large--Default.png') no-repeat center;
  background-size: 100%;
  cursor: pointer;
  height: 41px;
  margin: 1rem auto .6rem auto;
  width: 215px;

  &:hover {
    background: url('/images/LinkedIn-Large--Hover.png') no-repeat center;
    background-size: 100%;
  }
}
