.picture-quote {
  padding: 3 * $unit-base;

  @include bp(x) {
    padding-left: 5 * $unit-base;
    padding-right: 5 * $unit-base;
  }

  @include bp(xx) {
    background-color: transparent !important;
    color: $color-white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
  }

  @include bp(xxx) {
    right: 0;
    width: 50%;
  }
}

.picture-quote-left {

  @include bp(xxx) {
    left: 0;
    right: auto;
  }
}

.picture-quote__headline {
  display: block;
  margin-bottom: 2 * $unit-base;
}

.picture-quote__headline--larger {

  @include bp(xx) { font-size: $fz-36; }
}

.picture-quote__block {
  display: block;
  font-size: .888888889em;
  margin: 0 0 2 * $unit-base 0;

  @include bp(x) { font-size: 1em;}

  @include bp(xxx) { margin-bottom: 4 * $unit-base; }
}

.picture-quote__block--larger {

  @include bp(xx) { font-size: $fz-24; }
}

.picture-quote__cite {
  display: block;
  font-size: .777777778em;

  @include bp(x) { font-size: .888888889em; }

  @include bp(xxx) { text-align: right; }
}
