<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "HitFox Tech Department" %></title>

    <%= stylesheet_link_tag "styles", "font-data" %>
    <%= javascript_include_tag  "modernizr.custom", "uilang" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="container">
      <div class="container__el container__el--d-left">
      </div>
      <div class="container__el container__el--d-right">
        <div class="container-content">
          <h1>Floss your style sheets with Stylelint</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam et, adipisci dolorem voluptate ab voluptas, magni, excepturi recusandae praesentium provident quod autem deserunt fuga perspiciatis mollitia maiores vitae laboriosam sapiente!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam et, adipisci dolorem voluptate ab voluptas, magni, excepturi recusandae praesentium provident quod autem deserunt fuga perspiciatis mollitia maiores vitae laboriosam sapiente!</p>
          <h2>Toggling rules and optional settings</h2>
          <p>In case the term ‘linting’ is Alien to you, you should know it’s a static analysis tool. It looks at the generated code and makes suggestions based on any number of pre-defined rules. For example, it might issue a warning if you use floats, or don’t put white-space where required. Generally speaking, you can use linters to enforce any kind of coding conventions you like and while more than useful when working alone, they can be a Godsend when working in teams: where many (careless) hands touch the code.</p>
          <h3>Floss your style sheets with Stylelint</h3>
          <p>In case the term ‘linting’ is Alien to you, you should know it’s a static analysis tool. It looks at the generated code and makes suggestions based on any number of pre-defined rules. For example, it might issue a warning if you use floats, or don’t put white-space where required. Generally speaking, you can use linters to enforce any kind of coding conventions you like and while more than useful when working alone, they can be a Godsend when working in teams: where many (careless) hands touch the code.</p>
          <h4>Floss your style sheets with Stylelint style sheets with Stylelint</h4>
          <p>In case the term ‘linting’ is Alien to you, you should know it’s a static analysis tool. It looks at the generated code and makes suggestions based on any number of pre-defined rules. For example, it might issue a warning if you use floats, or don’t put white-space where required. Generally speaking, you can use linters to enforce any kind of coding conventions you like and while more than useful when working alone, they can be a Godsend when working in teams: where many (careless) hands touch the code.</p>
        </div>
      </div>
    </div>
    <code>
      clicking on ".container__el--d-right" toggle class "is-active" on ".container"
    </code>
  </body>
</html>
